@import "./assets/styles/custom.scss";

body {
	min-height: 100vh;
	#root {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}
}

h1 {
	font-family: "DM Serif Display", serif;
	letter-spacing: 0.05rem;
}

.home-bg {
	background: linear-gradient(110.8deg, #f5564e 0%, #8222a5 100%);
}
