@import "./assets/styles/custom.scss";

body {
	min-height: 100vh;
	#root {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}
}

h1,
h2,
h3 {
	font-family: "DM Serif Display", serif;
	letter-spacing: 0.05rem;
}

h2 {
	color: #ce3a7c;
}
