$theme-colors: (
	"primary": #8222a5,
	"secondary": #f7a565,
	"tertiary": #f5564e,
	"light": #f8f6ee,
	"dark": #140519,
);

$body-color: #140519;
$body-bg: #f8f6ee;

$font-family-sans-serif: "DM Sans", "Roboto", "Oxygen", "Helvetica Neue",
	sans-serif;

@import "~bootstrap/scss/bootstrap";
